* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch;
}
.container {
  display: flex;
  flex-direction: row;
}
.main-box {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  flex-grow: 1;
  flex-shrink: 1;
}
/* #region HEADER */
header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
}
.logo {
  width: 6rem;
}
.banner {
  width: 100%;
  height: 100px;
  object-fit: cover;
  filter: brightness(50%);
}
.title1 {
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 4rem;
  text-align: center;
  /* top: 5px; */
  background-color: DimGrey;
  /* position: absolute; */
}
/* #endregion HEADER */
/* #region MID BANNER */
.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 55px;
  flex-grow: 0;
  background-color: DimGrey;
}
h2 {
  color: whitesmoke;
  font-size: 20px;
}
/* #endregion MID BANNER */
/* #region NAVBAR */
nav {
  display: flex;
  background-color: CornflowerBlue;
  min-width: 30vh;
  min-height: 10vh;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  gap: 3rem;
  padding: 0rem;
  list-style-type: none;
}
.nav-list li {
  align-content: center;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 1;
}
.nav-list a {
  font-size: 1.2rem;
  color: whitesmoke;
  text-decoration: none;
}
/* #endregion NAVBAR*/
/* #region MAIN */
.maintext {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.maintext ul {
  padding-top: 2vw;
  padding-left: 2vw;
  list-style-type: none;
  max-width: 65%;
}
.maintext li {
  list-style-type: none;
}
.containerT {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
}
.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sportcontent {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sportcontent p:nth-child(2) {
  text-indent: 50px;
}
.regulations-content {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.numlist {
  list-style-type: decimal;
  padding-left: 20px;
}
.numlist > li {
  font-size: 16px;
  margin-bottom: 20px;
}
.allcontent {
  display: flex;
  flex: 1;
  margin: 15px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  flex-direction: column;
  align-items: flex-start;
}
.all-list {
  list-style-type: circle;
  padding-left: 2rem;
}
.all-list > li {
  margin-bottom: 10px;
}
.sub-list {
  list-style-type: lower-alpha;
  padding-left: 1rem;
}
h4,
h5 {
  text-align: center;
  padding-bottom: 1rem;
}
.top-container {
  flex: 0;
  max-width: 100%;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* #endregion MAIN */
/* #region TABLE */
.tablebox {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}
.style-table {
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.style-table thead tr {
  background-color: DimGrey;
  color: #ffffff;
  text-align: center;
}
.style-table th,
.style-table td {
  padding: 0.5rem 1.5rem;
}
.style-table tbody tr {
  border-bottom: 2px solid #dddddd;
}
 .cont-tex {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}
.table-text p {
  height: 3rem;
  text-align: center;
}
.table-text h4 {
  height: 0.2rem;
  text-align: center;
}
/* #endregion Table */
/* #region FORM */
.main-box-register {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  background-color: whitesmoke;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.container-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container-form .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  display: flex;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: DimGrey;
  margin-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 1rem;
}
.form .column {
  /* display: flex; */
  column-gap: 15px;
}
.form :where(.gender-box, .grade-box) {
  margin-top: 20px;
}
.gender-box h3,
.grade-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .grade-option, .gender, .grade) {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  flex-wrap: wrap;
}
.gender input {
  accent-color: CornflowerBlue;
}
.grade input {
  accent-color: CornflowerBlue;
}

.gender label {
  color: #707070;
}
.grade label {
  color: #707070;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.permission {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: justify;
}
.form button {
  display: block;
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  /* font-weight: 400; */
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: CornflowerBlue;
}
.form button:hover {
  background: black;
}
.container-form h4 {
  text-transform: uppercase;
  font-size: 2rem;
}
/* #endregion */
/* #region MAPS */
.map-container {
  display: flex;
  justify-content: center;
}
.map-box {
  padding:2rem 2rem ;
  display: flex;
  gap: 1rem;
  width: 80%;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.map {
  border: 4px solid whitesmoke;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* #endregion MAPS */
/* #region ANIM */
a.activeP {
  color: black;
  text-shadow: 2px 2px 4px #0000004b;
}
/* #endregion ---------ANIM---------- */
/* #region Responsive */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .grade-option, .gender, .grade) {
    row-gap: 15px;
  }
  .container-form {
    flex-direction: column;
  }
  .maintext ul {
    max-width: 95%;
  }
  .maintext {
    justify-content: center;
  }
  .nav-list {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1rem;
    padding: 0.5rem;
  }
}
/* #endregion Responsive */
