/* .main-box-register {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  background-color: whitesmoke;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.container-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container-form .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  display: flex;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: DimGrey;
  margin-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 1rem;
}

.form .column {
  column-gap: 15px;display:flex
}
.form :where(.gender-box, .grade-box) {
  margin-top: 20px;
}
.gender-box h3,
.grade-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .grade-option, .gender, .grade) {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  flex-wrap: wrap;
}
.gender input {
  accent-color: CornflowerBlue;
}
.grade input {
  accent-color: CornflowerBlue;
}

.gender label {
  color: #707070;
}
.grade label {
  color: #707070;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.permission {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: justify;
}
.form button {
  display: block;
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: CornflowerBlue;
}
.form button:hover {
  background: black;
} 
*/
