/* 
.tablebox {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}
.style-table {
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.style-table thead tr {
  background-color: DimGrey;
  color: #ffffff;
  text-align: center;
}
.style-table th,
.style-table td {
  padding: 10px 25px;
}
.style-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.cont-tex {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}
.table-text p {
  height: 3rem;
  text-align: center;
}
.table-text h4 {
  height: 0.2rem;
  text-align: center;
} */
